.about-banner {
    width: 100%;
    height: 300px; 
    background-image: url('about us.jpeg'); 
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
}


.banner {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.6);
    
}

.banner h1 {
    font-size: 45px;
    margin: 0;
    font-weight: 700;
    letter-spacing: 10px;
}

.banner p {
    font-size: 26px;
    margin: 10px 0 0;
    font-weight: 400;
    letter-spacing: 4px;
}


.about-intro{

    display: flex;
    gap: 20px; 
    align-items: center;
    background-color: #f3f6f7;  
    border-radius: 40px;
    padding: 40px;
    max-width: 1000px;
    margin: 40px auto;
}



.intro-image{
    flex: 1;
    max-width: 300px;   
    height: 400px; 
    overflow: hidden;
    border-radius: 10px;
}

.intro-image img {
    width: 100%;
    height: auto;
    
}

.intro-text{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.intro-text p{
    max-width: 500px;
    padding-top: 30px;   
    width: 100%;
    letter-spacing: 3px;
    line-height: 1.6;
    font-size: 16px;
    }

.line {
    height: 4px;
    background-color: #2e5d35;
    width: 150px;
    margin-top: 50px;
    
}
.about-mission,
.second {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto; 
    padding: 0px;
    justify-content: center;
}

.about-image {
    flex: 1;
    max-width: 400px;
    height: 300px;
    overflow: hidden;
    padding: 20px;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}

.mission-text {
    flex: 1;
    max-width: 500px;
    width: 100%;
    letter-spacing: 3px;
    line-height: 1.6;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    
    
}

.mission-text h2{
    padding-bottom: 40px;
}

.mission-text .line{
    margin: 30px auto 0; 
    
}
.bird-image {
    position: relative;
    width: 100vw;
    height: 1000px;
    overflow: hidden;
    margin-top: 50px;
}

.bird-image .bg {
    width: 100%;    
    height: 100%;
    object-fit: cover;
    display: block;
}

.bird-image .bird {
    position: absolute;
    top: 0px;
    left: 15%;
    width: 260px;
}
.bird-image .bird2 {
    position: absolute;
    top: -50px;
    right: 5%;
    width: 360px;
    transform: rotate(30deg);
    
}