.contact-banner {
    width: 100%;
    height: 300px; 
    background-image: url('cafe_vietnames_sandwich.jpeg'); 
    background-size: cover;
    background-position: center 60%;
    display: flex;
    overflow: hidden;
    margin-bottom: 10px;
}
.contact-banner.Manila {
    background-image: url('makati.jpeg');
}

.contact-banner.seoul {
    background-image: url('korea_street.jpeg');
}

.contact-banner.taiwan {
    background-image: url('stinky_tofu.jpeg');
}

.contact-banner.panama-fish {
    background-image: url('panama_grilled_fish.jpeg');
}

.contact-banner.peru-machupicchu {
    background-image: url('machu_picchu2.jpeg');
}
.contact-banner.panama-canal {
    background-image: url('panama_canal.jpeg');
}

.contact-banner.toronto {
    background-image: url('canada_day.jpeg');
}

.contact-banner.nyc {
    background-image: url('time_square.jpeg')
}

.contact-banner.quebec {
    background-image: url('quebec.jpeg')
}

/* .banner {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.6);
    
} */


.section-title {
    text-align: left;
    padding: 20px 20px 0px 20px;
    max-width: 1200px;
    margin: 0 auto;

}

.section-title h2 {
    font-size: 33px;
    font-weight: 500;
    letter-spacing: 3px;
    margin-bottom: 10px;
    color: #111;
}
.text{
    text-align: left;
}
.section-title p {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #333;
}
.first{
    max-width: 1200px;
    padding: 20px 20px 10px 20px;
    margin: 0 auto;
}
.first-content {
    margin-top: 0px;
}
.first-content h2{
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 2px;
    color:#476930;
}
.first-content p{
    font-size: 17px;
    line-height: 1.7;
    color: #222;
    text-align:left;
}
.p{
    text-align: left;
}
/* .second-block{
    display: flex;
    max-width: 1200px;
    padding: 20px;
    padding-top: 10px;
    margin: 0 auto;
} */
.third-block{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 0px;
}
.block {
    display: flex;
    margin: 0 auto;
    margin-bottom: 0px;
    align-items: center; 
    gap: 24px; 
    max-width: 1200px;
    padding: 0px 25px 0px 25px ;
}

.block4 {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.block figure {
    flex: 1;
    border: 1px solid black;
    text-align: center;

}

.block4 figure {
    width: calc(25% - 15px); 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    border: 1px solid #444;
    height: auto;
    overflow: visible;
}


.block4 img {
    width: 100%;
    height: 100%;        
    object-fit: cover;
}
.block figcaption{
    padding: 0px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;   
    margin: 0;
}



.block .text {
    flex: 1;
    font-size: 17px;
    line-height: 1.9;
    text-align: justify;
    
}
.text{
    padding: 0px 15px 0px 15px;
    text-align: justify
}

.block img {
    width: 100%;
}

.forth-block {
    padding: 20px 25px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.fifth-block{
    display: flex;
    max-width: 1200px;
    padding: 0px 25px 0px 25px ;
    margin: 0 auto;
}
.fifth-block P{
    font-size: 17px;
    line-height: 1.9;
    padding-bottom: 130px;
    }
@media (min-width: 768px) and (max-width: 1023px){

.contact-banner {
    height: 200px; 
}


.first{
    padding: 20px;
    margin: 0 auto;
}
.section-title {
    margin: 0px;
    text-align: left;


}
.block {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center; 
    gap: 14px; 
}
.forth-block {
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 25px;
    margin: 0 auto;
    width: auto;
    display: flex;
}

.block4 figure {
    width: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block4{
    display: flex;
}

}




@media (max-width: 768px) {
.contact-banner {
    margin-bottom: 15px;
    width: 100%;
    height: 200px; 
}
.section-title {
    text-align: left;
    margin: 0 auto;
    padding: 0px;
    letter-spacing: 0px;

}
.section-title h2 {
    font-size: clamp(23px, 5vw, 30px);
    font-weight: 500;
    letter-spacing: 3px;
    margin-bottom: 0px;
    color: #333;
    padding-left: 20px;
}

.section-title p {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #333;
    padding-left: 20px;
}

.first-content{
    padding: 0px;
    margin-top: 0px;
    letter-spacing: 0px;
    line-height: normal;
}   

.first-content p {
    text-align: justify;

}
.block4 figure {
    width: 100%;
}
.block4{
    display: flex;
}

.block{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 0px;
    align-items: center; 
    padding: 0px 15px 0px 15px ;
    gap: 10px;
}
.text{  
    padding: 0px;
}

}



@media (min-width: 425px) and (max-width: 768px) {
.forth-block {
    padding: 20px 25px;
    margin: 0 auto;
}

.block4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.block4 figure {
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
}

