.contact-banner {
    width: 100vw;
    height: 300px; 
    background-image: url('stinky\ tofu.jpeg'); 
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 50px;
    
}


.banner {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.6);
    
}

.banner h1 {
    font-size: 45px;
    margin: 0;
    font-weight: 700;

}

.banner p {
    font-size: 26px;
    margin: 10px 0 0;
    font-weight: 400;
    letter-spacing: 3px;
    text-align: center;
}

.section-title {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 32px;
    max-width: 1000px;
    margin: 0px auto;
    padding: 0 24px;
}

.section-title img {
    width: 40px;
    height: 40px;
}

.section-title h2 {
    font-size: 32px;
    display: flex;
    align-items: baseline;
    gap: 12px;
    margin: 0;
}

.section-title h2 span {
    font-size: 28px;
    font-weight: 400;
    color: #333;
}

.card-list {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
}

.card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-decoration: none;
    color: inherit;
    overflow: hidden;
    transition: background-color 0.2s ease;
    background-color: #fff;
    border-bottom: 1px solid black;
    border-radius: 12px 12px 0 0; 
    padding: 24px;
    box-sizing: border-box;
    /* box-shadow: 0 0 8px rgba(0,0,0,0.06); */
}
.card:last-child {
    border-bottom: none;
}


.card-image {
    width: 300px;
    height: 200px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 8px;
    margin: 0;  

}

.card-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block; 
}


.card-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;        
    margin-left: 24px;
    flex-grow: 1;
}

.card-text h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
    letter-spacing: 0.3px;
}

.card-text p {
    font-size: 16px;
    letter-spacing: 0.3px;
    line-height: 1.8;
    margin-bottom: 10px;
}

.read-more {
    text-align: right;
    color:#86B049;
    font-weight: bold;
    margin-top: auto; 
}


@media (min-width: 768px) and (max-width: 1023px){
    
}

@media (max-width: 768px){
.contact-banner {
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
    
}
.banner h1 {
    font-size: clamp(30px, 4vw, 35px);
    font-weight: 500;
    
}

.banner p {
    font-size: 26px;
    margin: 0px auto;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
}


.card-list {
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
    overflow: hidden;
    border-radius: 12px 12px 0 0; 
    margin: 14px 24px 14px 24px;
    padding: 0px;
    max-width: 95%;
}

.card-image {
    width: auto;
    min-width: 260px;
    max-width: 600px;   
    margin: 0 auto;    
    border-radius: 8px;
    overflow: hidden;
    height: auto;
}
.card-image img {
    width: auto;           
    max-width: 100%;       
    height: auto;            
    display: block;
    margin: 0 auto;  
}

.card-text {    
    margin: 0px 0px 0px 0px  ;
    max-width: fit-content;
}

.card-text h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 8px;
    letter-spacing: 0px;
}

.read-more{
    padding-bottom: 15px;
}

}