.contact-banner {
    width: 100%;
    height: 300px; 
    background-image: url('manhattan.jpeg'); 
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 30px;
    
}


.banner {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.6);
    
}

.banner h1 {
    font-size: clamp(24px, 6vw, 40px); 
    font-weight: 500;
    letter-spacing: 0.6em;
    text-align: center; 
}

.banner p {
    font-size: clamp(16px, 4vw, 26px); 
    margin: 10px 0 0;
    font-weight: 400;
    letter-spacing: 0.2em;
}
.continent-buttons{
    display: flex;
    justify-content: center;
    position: relative;
    

}
.continent {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 30px;
    color: white;
    font-weight: bold;
    font-size: 35px;
    text-decoration: none;
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 7px;
    z-index: 2;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    white-space: nowrap;
    font-size: clamp(25px, 4vw, 35px); 
}


.continent::before {
    content: "";
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    z-index: 1;
    opacity: 0.1;
    filter: brightness(0) invert(1);
    color: #ffffff;
}


.continent.asia::before {
    background-image: url("asia.png");
}

.continent.south::before {
    background-image: url("south-america.png");
}

.continent.north::before {
    background-image: url("north-america.png");
}

.continent {
    z-index: 8;
}

.asia{
    background-color: #2e5d35;
}

.south{
    background-color: #c3a755;
}

.north{
    background-color: #86B049;
}
.dropdown-container {   
    max-width: 1200px;
    margin: 0 auto;
    text-align: right;
    padding: 10px 40px; 
}

.select {
    font-size: 16px;
    padding: 8px 12px;
    border: 1px solid #444;
    border-radius: 8px;
    background-color: white;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.select:disabled {
    color: #999;
}

.continent:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    
}

.all-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
    max-width: 1200px;
    margin: 0px auto ;
    padding: 0 20px;
}

/* ✅ 卡片本體樣式 */
.card {
    background-color: #e5e5e5;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    flex-direction: row;
    transition: transform 0.3s ease;
    text-decoration: none;
    width: 100%;
    flex-wrap: wrap;
    margin-left: auto; 
    margin-right: auto;
    gap: 0px;
    height: auto; 
}

.card:hover {
    transform: translateY(-5px);
}
.card-image{
    width: 100%;
    height: 300px;
    object-fit: cover;
    aspect-ratio: 5 / 4;
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 5 / 4;
}

.card-text {
    padding: 10px 20px 10px 20px;
    height:auto;
    /* max-height: 410px; */
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

.card-text h2 {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0px;
}
.card-text p {
    font-size: 16px;
    line-height: 1.6;
    color: #444;
    flex-grow: 1;
    display: -webkit-box;
    -webkit-line-clamp: 5; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.9;
}

.read-more {
    text-align: right;
    color:#86B049;
    font-weight: bold;
    margin-top: auto;
    align-self: flex-end;
}

.card-text-link:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.card.hidden {
    display: none !important;
}