
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
body {
font-family: 
    "Noto Sans TC", 
    "Noto Sans", 
    "Helvetica Neue", 
    "Helvetica", 
    "Arial", 
    "Segoe UI Emoji", 
    "Apple Color Emoji", 
    "Noto Color Emoji", 
    sans-serif;
}

/* 共用樣式 */
.nav {
    background-color: #476930;
    padding: 10px 20px 10px 20px;
    position: relative;
    z-index: 1000;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .logo{
    height: auto;
} */
.logo img {
    width: 200px;
    padding-bottom: 0px;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.nav-links.active {
    display: flex;
    
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    white-space: nowrap;
}

.nav-links a:hover{
    color: #c3a755;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    background: none;    
    border: none;
    padding: 0; 
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
}


/* 下拉選單 */
.dropdown {
    position: relative;
}



.submenu {
    display: none;
    position: absolute;
    background-color: aliceblue;
    top: 100%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    flex-direction: column;
    padding: 7px;
    flex-wrap: nowrap;
}

.submenu a {
    display: block;
    color: #2e5d35;
    padding: 5px 5px 5px 5px ;
}

.dropdown:hover .submenu {
    display: flex;
}

ul {
    list-style: none;
}



/* 手機樣式 */
@media (max-width: 767px) {
.nav-links {
    display: none;
    flex-direction: column;
    background-color: #476930;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 20px;
}

.nav-links.active {
    display: flex;
}


.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    background: none;    
    border: none;
    padding: 0; 
}

.submenu {
    position: relative;
    background-color: white;
    color: #476930;
    box-shadow: none;
}

.submenu a {
    color: #476930;
}


.dropdown:hover .submenu {
    display: flex;
}


.dropdown.open .submenu {
    display: flex;
    flex-direction: column;
}


}



h1 {
    font-size: 40px;
    font-weight: 700;
    color: white;
    text-align: center;
}

h2 {
    font-size: 27px;
    font-weight: 600;
    color: #444;
    letter-spacing: 5px;
}


.header{
    display: flex;

    font-size: 15px;
}

.site-footer {
    background-color: #476930;
    color: white;
    padding: 50px 20px;
    font-size: 15px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.footer-left,
.footer-right {
    flex: 1;
    min-width: 280px;
}

.footer-left p {
    margin-bottom: 16px;
    font-weight: 500;
}

.subscribe-form {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 12px;
}

.subscribe-form input {
    padding: 10px 20px;
    border: none;
    border-radius: 999px;
    width: 260px;
    font-size: 14px;
}

.subscribe-form button {
    background-color: #c3a755;
    color: white;
    border: none;
    border-radius: 999px;
    padding: 10px 24px;
    font-weight: bold;
    cursor: pointer;
}


.footer-right {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer-links {
    display: flex;
    gap: 10px;
    margin-bottom: 12px;
    flex-wrap: wrap;
    margin-left: auto;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    gap: 10px;

}

.footer-social {
    display: flex;
    gap: 12px;
    margin-left: auto;
}

.footer-social img {
    width: 28px;
    height: 28px;
    filter: invert(1);
}

.slide-up {
    animation: slideUp 1.2s ease-out forwards;
    opacity: 0;
}

@keyframes slideUp {
    0% {
    transform: translateY(50px);
    opacity: 0;
    }
    100% {
    transform: translateY(0);
    opacity: 1;
    }
}


/* ＝＝ 桌機（預設）＝＝ */
.only-desktop { display:inline; }   /* 顯示桌機整句 */
.only-mobile  { display:none;  }   /* 手機專用文字先關閉 */
.br-mobile    { display:none;  } 



/* ＝＝ 手機 ≤767px ＝＝ */
/* 手機版 */
@media (max-width: 767px) {
.nav-links {
    display: none;
}

.nav-links.active {
    display: flex;
}

.hamburger {
    display: flex;
}
.site-footer{
    padding-top: 30px;
}
.footer-links {
    display: none; 
}
.footer-social {
    justify-content: center;
    display: flex;
}
.footer-social img{
    width: 35px;
    height: 35px;
} 
.hamburger .bar {
width: 25px;
    height: 2px;
    background-color: white;
    margin: 2px 0;
    border-radius: 2px;
}

    .only-desktop {
    display: none;
    }

    .only-mobile {
    display: inline;
}
}

